<ion-content>
  <div class="modal-card">
    <div class="modal-header">
      <h2>{{ 'customerDetails.title' | translate }}</h2>

      <button class="close-btn" type="button" (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </button>
    </div>

    <form [formGroup]="form" class="form">
      <div class="form-field">
        <label>{{ 'customerDetails.firstname' | translate }}</label>
        <input formControlName="firstname" />
      </div>

      <div class="form-field">
        <label>{{ 'customerDetails.lastname' | translate }}</label>
        <input formControlName="lastname" />
      </div>

      <div class="form-field">
        <label>{{ 'customerDetails.phone' | translate }}</label>
        <input
          formControlName="phone"
          type="tel"
          placeholder="+41 79 123 45 67"
          (blur)="formatSwissPhone()"
        />
      </div>

      @if (hasPhoneError()) {
        <div class="error-message">
          {{ 'customerDetails.errors.invalidSwissPhone' | translate }}
        </div>
      }

      @if (hasPhoneRequiredError()) {
        <div class="error-message">
          {{ 'customerDetails.errors.phoneRequired' | translate }}
        </div>
      }

      <ion-button expand="block" class="save-btn" (click)="save()">
        {{ 'common.save' | translate }}
      </ion-button>
    </form>
  </div>
</ion-content>
