<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ (fromUpdate ? 'address.editTitle' : 'address.newTitle') | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="addressForm" (ngSubmit)="save()" class="address-form">

    <div class="search-box">
      <ion-label>{{ 'address.searchLabel' | translate }}</ion-label>

      <input
        id="address-autocomplete-input"
        class="google-address-input"
        type="text"
        [placeholder]="'address.searchPlaceholder' | translate"
      />

      @if (addressExists) {
        <div class="error-message">
          {{ 'address.errors.alreadyExists' | translate }}
        </div>
      }
    </div>

    @if (addressForm.value.street) {
      <div class="address-preview">
        <h3>{{ 'address.selectedTitle' | translate }}</h3>

        <p>
          {{ addressForm.value.street }}
          {{ addressForm.value.streetNumber }},
          {{ addressForm.value.postalCode }}
          {{ addressForm.value.city }}
        </p>
      </div>
    }

    <div class="form-section">
      <ion-item>
        <ion-label position="stacked">{{ 'address.label' | translate }}</ion-label>
        <ion-input
          formControlName="label"
          [placeholder]="'address.labelPlaceholder' | translate"
          [class.input-error]="labelExists"
          [class.shake]="shakeLabel">
        </ion-input>
      </ion-item>

      @if (labelExists) {
        <div class="error-message">
          {{ 'address.errors.labelExists' | translate }}
        </div>
      }

      @if (addressForm.get('label')?.touched && addressForm.get('label')?.invalid) {
        <div class="error-message">
          @if (addressForm.get('label')?.errors?.['required']) {
            {{ 'address.errors.labelRequired' | translate }}
          }
          @if (addressForm.get('label')?.errors?.['minlength']) {
            {{ 'address.errors.labelMinLength' | translate }}
          }
        </div>
      }

      <ion-item>
        <ion-label position="stacked">{{ 'address.instructions' | translate }}</ion-label>
        <ion-input
          formControlName="instructions"
          [placeholder]="'address.instructionsPlaceholder' | translate">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'address.defaultAddress' | translate }}</ion-label>
        <ion-toggle formControlName="defaultAddress"></ion-toggle>
      </ion-item>
    </div>

    @if (addressForm.errors?.['sameAsOriginal'] && addressForm.dirty) {
      <div class="error-message">
        {{ 'address.errors.sameAsOriginal' | translate }}
      </div>
    }

    <ion-button
      expand="block"
      type="submit"
      class="save-btn"
      [disabled]="addressForm.invalid || labelExists || addressExists">
      {{ (fromUpdate ? 'address.editButton' : 'address.saveButton') | translate }}
    </ion-button>

    <ion-button expand="block" fill="clear" type="button" (click)="cancel()">
      {{ 'common.cancel' | translate }}
    </ion-button>
  </form>
</ion-content>
